.cpr-roadmap-section {
  background: #000;
  color: #ffffff;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
 font-family: "Inter",sans-serif;
   /* background: url('../../assets/HomePage/bg-roadmap.jpg') center/cover no-repeat ; */
   
}

.cpr-roadmap-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url('../../assets/HomePage/bg-roadmap.jpg') center/cover no-repeat;

  opacity: 0.2; /* ✅ 20% opacity */

  z-index: 0;
}


.cpr-roadmap-header {
  text-align: center;
  margin-bottom: 60px;
}

.cpr-roadmap-badge {
  border: 1px solid #587FFF4D;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  color:#587FFF;
  background: rgba(88, 127, 255, 0.1);
}

.cpr-roadmap-title {
  font-size: 60px;
  margin-top: 20px;
  font-weight: 500;
}

.cpr-highlight{
  color: #587FFF;
  font-style: italic;
}

.cpr-roadmap-viewport {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.cpr-roadmap-container {
  display: flex;
  overflow-x: auto;
  gap: 40px;
  padding: 40px 20px 120px 20px;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  max-width: 1000px;
  margin: auto;
}

.cpr-roadmap-container::-webkit-scrollbar {
  display: none; 
}

.cpr-roadmap-card {
  min-width: 320px;
  flex: 0 0 320px;
  position: relative;
  padding-left: 30px;
}

/* Custom gradient left border */
.cpr-roadmap-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 2%,
    #000000 2%,
    #587FFF 99%,
    transparent 10%
  );
}




@keyframes cpr-popup {
  0% { transform: scale(1); box-shadow: 0 0 0 0px rgba(88, 127, 255, 0.7); }
  70% { transform: scale(1.5); box-shadow: 0 0 0 15px rgba(88, 127, 255, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0px rgba(88, 127, 255, 0); }
}

.cpr-q-text {
  font-weight: bold;
  font-size: 1.1rem;
}

.cpr-phase-title {
  color: #587FFF;
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.cpr-item-list {
  padding: 0;
}

.cpr-item-list li {
  color: #D8D8D8;
  font-size: 14px;
  margin-bottom: 8px;
}

.cpr-bottom-indicator {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.cpr-path-dot {
  width: 18px;
  height: 18px;
  background: #587FFF;
  border: 2px solid #ffd858;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  z-index: 10;
  position: relative;
  top: -20px;
  margin: 10px;
  left: -18px;
}

.cpr-path-dot.cpr-done {
  background: #587FFF;
}

.cpr-svg-wrapper {
  position: absolute;
  bottom: 85px;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.cpr-nav-btn {
  background: rgba(255,255,255,0.05);
  border: 2px solid #587FFF;
  color: #587FFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  transition: 0.3s;
  position: absolute;
}

.cpr-prev { left: 10px; }
.cpr-next { right: 10px; }
.cpr-nav-btn:hover { background: var(--accent); }

@media (max-width: 1024px) {

.cpr-nav-btn{
  display: none;
}  
  .cpr-roadmap-title {
    font-size: 48px;
  }

  .cpr-roadmap-viewport {
    padding: 0 20px;
  }

  .cpr-roadmap-container {
    gap: 30px;
  }

  .cpr-roadmap-card {
    min-width: 300px;
  }
}
@media (max-width: 568px) {

  .cpr-roadmap-container {
    gap: 16px;
    padding: 20px 0 100px 0;
    scroll-snap-type: x mandatory;
  }

  .cpr-roadmap-card {
    min-width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
    padding-left: 20px;
  }

  .cpr-roadmap-title{
    font-size: 22px;
  }
 
}