.cta-section {
  background: #000000;
  padding: 80px 20px;
  font-family: "Inter", sans-serif;
}

.cta-container {
  max-width: 1200px;
  margin: auto;
}

/* BOX */
.cta-box {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
  padding: 60px 40px;
  text-align: center;

  border: 1px solid rgba(88, 127, 255, 0.4);
}

/* VIDEO */
.cta-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
}

/* OVERLAY */
.cta-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(5, 10, 25, 0.85);
  top: 0;
  left: 0;
  z-index: 1;
}

/* CONTENT */
.cta-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: auto;
}

/* HEADING */
.cta-content h2 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}

.cta-content h2 span {
  color: #587FFF;
  font-style: italic;
}

/* SUBTEXT */
.cta-subtext {
  margin-top: 15px;
  font-size: 14px;
  color: #92969C;
  line-height: 1.6;
  margin-bottom: 0;
}

/* BUTTON */
.cta-btn {
  margin-top: 25px;
  padding: 10px 22px;
  border: 1px solid #587FFF;
  background: transparent;
  color: #587FFF;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #587FFF;
  color: #fff;
}

/* FOOTER TEXT */
.cta-footer {
  margin-top: 20px;
  font-size: 16px;
  color: #CDD4DE;
  font-size: 400;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 768px) {
  .cta-box {
    padding: 40px 20px;
  }
.cta-content{
  text-align: left;
}
  .cta-content h2 {
    font-size: 28px;
  }
  .cta-footer{
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .cta-content h2 {
    font-size: 22px;
  }

  .cta-subtext {
    font-size: 13px;
  }

  .cta-btn {
    width: 100%;
  }
}